{% if not report.isEmpty() %}
    {% for field in report %}
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ field.getName() }}</div>
        </div>
        {{ ez_render_form_submission_report_field(field) }}
    {% endfor %}
{% else %}
    <p class="ez-table-no-content">
        {{ 'tab.submissions.no_submissions'|trans|desc('This form has no submissions.') }}
    </p>
{% endif %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    (function (global, doc, eZ) {
        const CHART_SELECTOR = '[data-chart]';
        const COLOR_PALLETE = ['#dc3912', '#109618', '#3366cc', '#ff9900', '#990099', '#000'];

        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(function () {
            document.querySelectorAll(CHART_SELECTOR).forEach((el) => {
                const data = JSON.parse(el.dataset.chartData);

                const dataTable = google.visualization.arrayToDataTable([
                    ['Answer', 'Count', { role: 'style'}],
                    ...Object.entries(data).map((row, i) => {
                        row.push(COLOR_PALLETE[i % COLOR_PALLETE.length]);
                        return row;
                    })
                ]);

                const chart = new google.visualization.ColumnChart(el);
                chart.draw(dataTable, {
                    legend: { position: "none" },
                });
            });
        });
    }) (window, window.document, window.eZ);
</script>
